.projects {
  min-height: 100vw;
  background: var(--bg-first);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centers;
  /* margin-top: -10rem; */
  /* background: blue; */
}

.vidoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 3rem; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.video_parent {
  width: 31.25rem;
  height: 25rem;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
  border-radius: 10px;
}

.video_data {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .vidoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 3rem; */
  }
}

@media (max-width: 530px) {
  .vidoes {
    display: grid;
    grid-template-columns: 1fr;
  }
}
