.home {
  min-height: calc(100vh - var(---header-height));
  display: flex;
  padding-top: calc(var(--header-height) + 2px);
  /* padding-top: var(---header-height); */
  width: 100%;
  max-width: 62.5rem;
  margin-inline: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.section_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
}

.section_title {
  text-transform: capitalize;
  margin-top: -2px;
}

.hero_btn {
  width: 9.5rem;
  height: 3rem;
  text-transform: capitalize;
  font-weight: var(--font-bold);
  background: rgb(86, 83, 83);
  color: rgb(225, 156, 156);
}

.contact_li {
  color: rgb(225, 156, 156);
}

/* img */
.home_img {
  padding-top: 20px;
  width: 8rem;
  height: 8rem;
  background: var(--bg-second);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.img_profile {
  display: block;
  object-fit: cover;
  object-position: left;
}

/* videos */
.video_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-template-columns: repeat(3, minmax(fit-content, )); */
  gap: 15px;
  width: 90%;
  max-width: 65rem;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}

/* media query */
@media (max-width: 600px) {
  .video_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 30px;
  }
}
