@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* variable css */
:root {
  --header-height: 3.9rem;

  /* colors */
  --first-color: #6f6563;
  --second-color: rgb(108, 100, 100);

  /* background */
  --bg-first: #dbd9e6;
  --bg-second: #dad9e9;

  /* fonts */
  --body-font: "Space Grotesk", sans-serif;

  /* font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-size: 1.35rem;

  /* z-index */
  --z--tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--bg-first);
  color: var(--first-color);
  font-size: var(--font-size);
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--first-color);
  font-weight: var(--font-bold);
  font-family: var(--body-font);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  /* background: black; */
}

/* reusable css classes */
.container {
  /* max-width: 1120px; */
  max-width: 90vw;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

section {
  padding-block: 5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5rem;
  /* margin: 0 auto; */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6b35e0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
